.header {
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28.5px 16px;
}

.logo {
    margin-right: 62px;
}

.login-button {
    width: 139px;
    height: 52px;
    border: 1px solid var(--light-background, #FFF);
    background-color: transparent;
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.login-button > a {
    color: #FFF;
    font-size: 17px;
    font-weight: 500;
    line-height: 147%;
    letter-spacing: 0.2px;
}